@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  /* IMPORTANT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  /* IMPORTANT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  /* IMPORTANT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  /* POSITION: FIXED MUST ALSO BE INCLUDED AS INLINE STYLE IN APP.JS CANVAS COMPONENT */
  position: fixed;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Orbitron Light';
  src: local('Orbitron Light'), url(./assets/fonts/Orbitron\ Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Dominik_Thin';
  src: local('Dominik_Thin'), url(./assets/fonts/Dominik_Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'dominik.regular';
  src: local('dominik.regular'), url(./assets/fonts/dominik.regular.ttf) format('truetype');
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.9);
  /* --spacing: 350px; */
  font-size: 1rem;
  letter-spacing: 0.03rem;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.img {
  background: url('./assets/images/corridor.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -200;
}
