body {
  overflow: overlay;
}

.content-laptop {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  overflow-x: hidden;
  color: white;
  z-index: 0;
  position: absolute;
}

.header {
  display: grid;
  font-family: "Orbitron Light", sans-serif;
  letter-spacing: 0.8rem;
  grid-column: span 12 / auto;
  font-size: 1.75rem;
  margin-top: 25vh;
  margin-bottom: 20rem;
  width: 70%;
  justify-self: center;
  background: rgba(15, 15, 15, 0.288);
  padding: 3rem;
}

.header h1 {
  grid-column: span 12 / auto;
  margin-top: -0.3rem;
  margin-bottom: 0;
  text-align: center;
  padding-bottom: 0.4rem;
  align-self: center;
}

#prof {
  font-size: 1.5rem;
  margin-top: 1.7rem;
  margin-bottom: 0;
  justify-self: center;
  grid-column: span 12/ auto;
  text-align: center;
  letter-spacing: 0.6rem;
}

.navigation {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column: span 12 / auto;
  justify-content: space-between;
  margin-bottom: 1.7rem;
}

.navi-link {
  text-decoration: none;
  font-family: "Dominik_Thin";
  color: white;
  padding-top: 0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.6rem;
  letter-spacing: 0.13rem;
}

.navi-link:hover {
  background: rgba(255, 255, 255, 0.418); 
}

.hire {
  text-decoration: none;
  font-family: "Dominik_Thin";
  color: black;
  background: white;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  letter-spacing: 0.13rem;
}

.hire:hover {
  background: rgba(255, 255, 255, 0.418); 
  color: white;
}

.navigation div {
  display: grid;
  justify-self: center;
  font-size: 1.1rem;
  font-weight: bold;  
}

blockquote {
  font-family: "Orbitron Light",sans-serif;
  letter-spacing: 0.2rem;
  font-weight: 900;
  grid-column: span 12 / auto;
  margin-bottom: 20rem;
  width: max-content;
  justify-self: center;
}

.motto {
  color: black;
  background-color: rgba(255, 255, 255, 0.623);
  font-size: 3rem;
  display: inline;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  line-height: 1.4;
}

.about {
  display: grid;
  grid-column: span 12 / auto;
  width: 39%;
  margin-left: 10%;
  margin-right: auto;
  padding: 3rem;
  background: rgba(15, 15, 15, 0.685);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 20rem;
}

.about-wrapper {
  display: grid;
  background: rgba(15, 15, 15, 0.288);
  padding: 3rem;
}

.about h2 {
  font-family: "Orbitron Light", sans-serif;
  font-weight: 900;
  font-style: normal;
  justify-self: center;
  letter-spacing: 0.13rem;
  padding-bottom: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

#about-link p {
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: 0;
}

.services {
  display: grid;
  grid-column: 7 / 12;
  height: fit-content;
  padding: 3rem;
  background: rgba(15, 15, 15, 0.685);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 20rem;
}

.services-wrapper {
  display: grid;
  background: rgba(15, 15, 15, 0.288);
  padding-bottom: 3rem;
}

.services h2 {
  font-family: "Orbitron Light", sans-serif;
  font-weight: 900;
  font-style: normal;
  justify-self: center;
  letter-spacing: 0.13rem;
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.services-item {
  text-align: center;
  font-family: "dominik.regular";
}

.services-sub-section div {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.025rem;
  letter-spacing: .05rem;
  line-height: 1.7rem;
}

.services-item-container {
  display: grid;
  row-gap: 3rem;
  grid-template-columns: 1fr 1fr;
}

.services-inner-title {
  padding-bottom: 0.8rem;
  font-family: "dominik.regular", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.portfolio {
  display: grid;
  background: rgba(15, 15, 15, 0.685);
  grid-column: span 12 / auto;
  margin-bottom: 20rem;
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  justify-self: center;
  justify-content: center;
  width: fit-content;
}

#portfolio-title {
  justify-self: center;
  justify-content: center;
  font-family: "Orbitron Light", sans-serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 0.13rem;
  font-size: 1.9rem;
  padding-bottom: 3rem;
}

.inner-title {
  font-family: "dominik.regular", sans-serif;
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.projects-wrapper {
  background: rgba(15, 15, 15, 0.288);
  display: grid;
  padding: 3rem;
}

.portfolio-container {
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(3, minmax(10rem, 1fr));
  row-gap: 1rem;
}

.project {
  display: grid;
  column-gap: 1rem;
  justify-items: center;
  width: 20rem;
  background: rgba(15, 15, 15, 0.288);
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.project img {
  width: 20rem;
  height: 10rem;
  object-fit:cover;
  padding-bottom: 2rem;
}

.caption {
  text-indent: 2.1rem;
  height: 18rem;
  width: 20rem;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  line-height: 1.4rem;
}

.git-link-container {
  padding-bottom: 2rem;
}

.git-link {
  color: rgb(163, 163, 163);
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  text-decoration: none;
  text-align: center;
}

.tag-line {
  display: grid;
  justify-content: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.623);
  font-size: 3rem;
  line-height: 1.25;
  letter-spacing: 0.2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.hire-container {
  text-align: center;
  justify-content: center;
  padding: 3rem;
  background: rgba(15, 15, 15, 0.685);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 20rem;
  grid-column: 7 / 12;
}

.hire-wrapper {
  background: rgba(15, 15, 15, 0.288);
  padding-left: 3rem;
  padding-right: 3rem;
}

.hire-container h2 {
  font-family: "Orbitron Light", sans-serif;
  font-weight: 900;
  font-style: normal;
  justify-self: center;
  letter-spacing: 0.13rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2.6rem;
  padding-bottom: 2.6rem;
}

.form {
  display: grid;
}

.input {
  height: 2.5rem;
  padding-left: 0.8rem;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  color: grey;
  border-radius: 0;
  border: none;
}

.textarea {
  height: 11rem;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  color: grey;
  padding-top: 1rem;
  padding-left: 0.7rem;
  resize: none;
  border-radius: 0;
  border: none;
}

.btn {
  margin-bottom: 2.6rem;
  width: 11rem;
  height: 2.5rem;
  text-decoration: none;
  color: white;
  background: rgba(255, 255, 255, 0.418); 
  font-size: 1.1rem;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  justify-self: center;
  border: none;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.664);
  color: rgba(15, 15, 15, 0.685);
}

::-webkit-scrollbar {
  width: 2rem;
} 
  
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.418); 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.664); 
}

.footer {
  display: grid;
  font-weight: bold;
  background: rgba(15, 15, 15, 0.685);
  grid-column: 2 / 12;
  padding: 3rem;
  font-size: 1.1rem;
  margin-bottom: 3rem;
  justify-content: inherit;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  background: rgba(15, 15, 15, 0.288);
  padding: 3rem;
}

.footer a {
  font-family: "Dominik_Thin", sans-serif;
  text-decoration: none;
  color:white;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
}

.footer a:hover {
  background: rgba(255, 255, 255, 0.418);
}

/* ANIMATED SCROLL ICON ////////////////////////////////////////////////////////////////////////*/
.chevron-container {
  display: grid;
  grid-column: span 12 / auto;
  justify-self: center;
  margin-top: 80vh;
  position: absolute;
  width: 24px;
  height: 24px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -10.1px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}






/* LAPTOP SCREENS ///////////////////////////////////////////////////////////////////////////////////*/
@media (min-width: 1000px) {
  .portfolio-container { 
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    column-gap: 1rem;
  }
}

/* TABLET SCREENS ///////////////////////////////////////////////////////////////////////////////////*/
@media (max-width: 999px) and (min-width: 701px) {

  .motto {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    display: grid;
  }

  .about {
    grid-column: span 12 / auto;
    margin-right: 10%;
    margin-left: 10%;
    width: auto;
  }

  .services {
    grid-column: span 12 / auto;
    margin-right: 10%;
    margin-left: 10%;
  }

  .portfolio-container { 
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 1.5rem;
  }

  .projects-wrapper {
    justify-self: center;
    width: 100%;
    place-items: center;
  }

  .about {
    grid-column: span 12 / auto;
    justify-items: center;
  }

  .hire-container {
    justify-items: center;
    grid-column: span 12 / auto;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .tag-line {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
  }

  .footer {
    grid-column: span 12 / auto;
    margin-left: 10%;
    margin-right: 10%;
    place-content: center;
    width: fit-content;
    justify-self: center;
  }

  .footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* MOBILE SCREENS ///////////////////////////////////////////////////////////////////////////////////*/
@media (max-width: 700px) {

  .chevron-container {
    margin-top: 75vh;
  }

  .header {
    justify-self: center;
    margin-top: 5rem;
    width: 17rem;
  }

  .header h1 {
    font-size: 1.5rem;
  }

  #prof {
    font-size: 1.1rem;
    padding-top: 1rem;
  }

  .navigation {
    grid-template-columns: 1fr;
    padding-bottom: 3rem;
  }

  .navigation div {
    font-size: 1rem;
  }

  blockquote {
    display: grid;
    justify-content: center;
    width: 100vw;
  }

  .motto {
    font-size: 2rem;  
    text-align: center;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }

  .about {
    width: 100vw;
    justify-self: center;
  }

  .about-wrapper {
    padding: 1rem;
  }

  #about-link {
    padding: 1rem;
    margin-left: 0;
    margin-right: 0;
  }

  #about-link p {
    font-size: 1rem;
  }

  .services {
    display: grid;
    grid-column: span 12 / auto;
    width: 100vw;
    justify-self: center;
    padding: 1rem;
    margin-left: 0;
    margin-right: 0;
  }

  .services h2 {
    padding-bottom: 2rem;
  }

  .services-wrapper {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .services-inner-title {
    font-size: 1.2rem;
  }

  .services-sub-section div {
    font-size: 0.8rem;
  }

  .inner-title {
    font-size: 1.5rem;
  }

  .portfolio {
    padding: 1rem;
    width: 100%;
    place-items: center;
  }

  .portfolio-container {  
    grid-template-columns: repeat(1, minmax(0, 1fr)); 
    justify-items: center;
    
   }

  .projects-wrapper {
    padding: 1rem;
    width: max-content;
    justify-content: center;
    width: 100vw;
  }

  .project {
    padding: 1rem;
  }

  .project img {
    width: 17rem;
    height: 10rem;
    padding-bottom: 2rem;
    object-fit:cover;
  }

  .caption {
    width: 17rem;
    height: auto;
    font-size: 1rem;
  }

  #bps-title {
    width: 12rem;
    overflow-wrap: break-word;
    text-align: center;
  }

  .tag-line {
    font-size: 2rem;  
    width: 100vw;
    text-align: center;
  }

  .hire-container {
    grid-column: span 12 / auto;
    justify-self: center;
    width: 100vw;
    padding: 1rem;
  }

  .hire-wrapper {
    padding: 1rem;
  }

  .input {
    margin-bottom: 0;
  }

  .textarea {
    width: auto;
  }

  .footer {
    display: grid;
    justify-self: center;
    justify-items: center;
    padding: 1rem;
    width: 100vw;
  }

  .footer-wrapper {
    display: grid;
    justify-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
  }

  .footer a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .tag-line {
    font-size: 2rem;
  }
}
