.content-laptop {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  overflow-x: hidden;
  color: white;
  z-index: 99;
  position: absolute;
}

header {
  display: grid;
  font-family: "Orbitron Light", sans-serif;
  letter-spacing: 0.8rem;
  grid-column: span 12 / auto;
  margin-left: 12%;
  margin-right: 12%;
  font-size: 1.75rem;
  padding-top: 1.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 2.5rem;
  margin-top: 33vh;
  margin-bottom: 20rem;
}

header h1 {
  margin-top: -0.3rem;
  margin-bottom: 0;
  justify-self: center;
  grid-column: span 4 /auto;
  text-align: center;
  padding-bottom: 0.4rem;
}

#prof {
  font-size: 1.5rem;
  margin-top: 1.2rem;
  margin-bottom: 0;
  justify-self: center;
  grid-column: span 4/ auto;
  text-align: center;
  letter-spacing: 0.6rem;
}

.navigation {
  display: grid;
  grid-column: span 4 / auto;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 1.2rem;
  margin-bottom: 0.3rem;
}

.navigation .navi-link {
  text-decoration: none;
  font-family: "Dominik_Thin";
  color: white;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  letter-spacing: 0.13rem;
}

.navigation .hire {
  text-decoration: none;
  font-family: "Dominik_Thin";
  color: black;
  background: white;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  letter-spacing: 0.13rem;
}

.navigation div {
  display: grid;
  justify-self: center;
  font-size: 1.1rem;
  font-weight: bold;  
}

blockquote {
  font-family: "Orbitron Light",sans-serif;
  letter-spacing: 0.2rem;
  font-weight: 900;
  grid-column: span 12 / auto;
  margin-left: 14%;
  margin-right: 14%;
  margin-bottom: 20rem;
}

blockquote p {
  color: black;
  background-color: rgba(255, 255, 255, 0.623);
  font-size: 3rem;
  display: inline;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  line-height: 1.4;
}

.about {
  display: grid;
  grid-column: 2 / 8;
  padding: 2rem;
  background: rgba(15, 15, 15, 0.685);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 20rem;
}

.about h2 {
  font-family: "Orbitron Light", sans-serif;
  font-weight: 900;
  font-style: normal;
  justify-self: center;
  letter-spacing: 0.13rem;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
}

#about-link {
  padding-left: 5rem;
  padding-right: 5rem;
}

#about-link p {
  font-size: 1.1rem;
}

.services {
  display: grid;
  grid-column: 7 / 12;
  height: fit-content;
  padding: 2rem;
  background: rgba(15, 15, 15, 0.685);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 20rem;
}

.services h2 {
  font-family: "Orbitron Light", sans-serif;
  font-weight: 900;
  font-style: normal;
  justify-self: center;
  letter-spacing: 0.13rem;
  padding-bottom: 0.6rem;
}

.services-item {
  text-align: center;
  font-family: "dominik.regular";
  padding-top: 30px;
  padding-bottom: 30px;
}

.services-sub-section div {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.025rem;
  letter-spacing: .05rem;
  line-height: 1.7rem;
}

.services-item-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.services-inner-title {
  padding-bottom: 0.8rem;
  font-family: "dominik.regular", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.portfolio {
  display: grid;
  background: rgba(15, 15, 15, 0.685);
  grid-column: span 12 / auto;
  margin-bottom: 20rem;
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  justify-self: center;
}

#portfolio-title {
  justify-self: center;
  font-family: "Orbitron Light", sans-serif;
  font-weight: 900;
  font-style: normal;
  justify-self: center;
  letter-spacing: 0.13rem;
  font-size: 1.9rem;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(20rem, 1fr));
}

.project {
  display: grid;
  justify-items: center;
  padding-bottom: 1rem;
  /* width: 20rem; */
}

.project img {
  /* max-width: 20rem; */
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
}

.caption {
  text-indent: 2.1rem;
  height: 18rem;
  width: 20rem;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  line-height: 1.4rem;
}

.inner-title {
  padding-top: 3.5rem;
  padding-bottom: 2rem;
  font-family: "dominik.regular", sans-serif;
  font-size: 1.5rem;
}

.git-link-container {
  padding-bottom: 1.8rem;
}

.git-link {
  color: rgb(163, 163, 163);
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  text-decoration: none;
  text-align: center;
}

.tag-line {
  color: black;
  background-color: rgba(255, 255, 255, 0.623);
  font-size: 3rem;
  display: inline;
  line-height: 1.25;
  letter-spacing: 0.2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.hire-container {
  text-align: center;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  background: rgba(15, 15, 15, 0.685);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 20rem;
  grid-column: 7 / 12;
}

.hire-container h2 {
  font-family: "Orbitron Light", sans-serif;
  font-weight: 900;
  font-style: normal;
  justify-self: center;
  letter-spacing: 0.13rem;
}

.form {
  display: grid;
}

.input {
  /* width: auto; */
  /* grid-column: 3 / 9; */
  height: 2.5rem;
  padding-left: 0.8rem;
  margin-bottom: 1rem;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  color: grey;
}

.textarea {
  /* width: 31rem; */
  height: 11rem;
  margin-bottom: 1rem;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  color: grey;
  padding-top: 1rem;
  padding-left: 0.7rem;
  resize: none;
}

.btn {
  margin-bottom: 2.6rem;
  width: 11rem;
  height: 2.2rem;
  text-decoration: none;
  color: #ffffff;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  background-color: #696969;
  border: none;
  justify-self: center;
}

footer a {
  font-family: "Dominik_Thin", sans-serif;
  text-decoration: none;
  color:white;
}

::-webkit-scrollbar {
  width: 1rem;
} 
  
/* Track */
::-webkit-scrollbar-track {
  background: black; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

footer {
  display: flex;
  font-weight: bold;
  background: rgba(15, 15, 15, 0.685);
  grid-column: 2 / span 10;
  font-size: 1.1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
  justify-content: space-around;
}

/* LAPTOP SCREENS ///////////////////////////////////////////////////////////////////////////////////*/
@media (min-width: 1000px) {
  .portfolio-container { 
    grid-template-columns: repeat(3, minmax(20rem, 1fr)); 
    column-gap: 1.5rem;
  }
}

/* TABLET SCREENS ///////////////////////////////////////////////////////////////////////////////////*/
@media (max-width: 999px){

  .services {
    grid-column: span 12 / auto;
    margin-right: 10rem;
    margin-left: 10rem;
  }

  .portfolio-container { 
    grid-template-columns: repeat(2, minmax(20rem, 1fr));
    column-gap: 1.5rem;
  }

  .about {
    grid-column: span 12 / auto;
    margin-left: 4rem;
    margin-right: 4rem;
    justify-items: center;
  }

  .hire-container {
    /* grid-column: span 12 / auto; */
    /* margin-left: 7rem;
    margin-right: 7rem; */
    justify-items: center;
    /* justify-self: center; */
    grid-column: 2/ 12;
    padding-left: 10%;
    padding-right: 10%;
  }
}

/* MOBILE SCREENS ///////////////////////////////////////////////////////////////////////////////////*/
@media (max-width: 700px) {

  .services {
    grid-column: span 12 / auto;
    /* column-gap: 15%; */
    width: 70vw;
    justify-self: center;
    justify-content: center;
  }

  .services h2 {
    padding-bottom: 0;
  }

  .services-item-container {
    column-gap: 1rem;
  }

  .services-inner-title {
    font-size: 1.2rem;
  }

  .services-sub-section div {
    font-size: 0.8rem;
  }

  .inner-title {
    font-size: 1.5rem;
  }

  .portfolio {
    width: 60vw;
    justify-content: center;
  }

  .portfolio-container { 
    grid-template-columns: repeat(1, minmax(20rem, 1fr)); 
  }

  .project a {
    width: 80%;
  }

  .caption {
    width: 80%;
    height: auto;
    font-size: 1rem;
  }

  .about {
    grid-column: span 12 / auto;
    margin-left: 2rem;
    margin-right: 2rem;
    justify-items: center;
  }

  #about-link {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 4%;
    margin-right: 4%;
  }

  #about-link p {
    font-size: 1rem;
  }

  .tag-line {
    width: fit-content;
  }

  .hire-container {
    grid-column: 2/ 12;
    padding-left: 10%;
    padding-right: 10%;
  }

  .textarea {
    width: auto;
  }

  footer {
    display: grid;
    justify-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  footer a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .tag-line {
    margin-left: 0;
    margin-right: 0;
  }

  .navigation {
    grid-template-columns: 1fr;
    padding-bottom: 3rem;
  }

  header {
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  header h1 {
    font-size: 1.9rem;
  }

  #prof {
    padding-top: 1.6rem;
  }
}
