.content-mobile {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: auto;
    width: 100vw;
    width: 100%;
    color: white;
    z-index: 99;
    position: absolute;
    margin: 0px auto;
    padding: 120px 0px;
    overflow-x: hidden;
  }

header h1 {
  margin-top: 0;
}

h2, h3 {
  font-family: "Orbitron Light", sans-serif;
  font-weight: 900;
  font-style: normal;
}

  header {
    display: grid;
    font-family: "Orbitron Light", sans-serif;
    letter-spacing: 10px;
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 1.75rem;
    padding: 2.5rem;
    margin-bottom: var(--spacing);
  }

  header p {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .name {
    color: black;
    background-color: white;
    font-size: 3rem;
    display: inline;
    line-height: 1;
  }

  .tag-line {
    color: black;
    background-color: white;
    font-size: 3rem;
    display: inline;
    line-height: 1.25;
  }

  section {
    display: grid;
    grid-column: 2 / 8;
    padding: 2rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    font-family: "Orbitron Light",sans-serif;
    font-weight: 900;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 3rem;
    display: inline;
    line-height: 1.25;
  }

  .left {
    display: grid;
    grid-column: 6 / 12;
  }

  .left h2 {
    font-family: "Orbitron Light", sans-serif;
  font-weight: 900;
  font-style: normal;
  justify-self: center;
  }

  #id {
    grid-column: span 2 / auto;
  }

  #services {
    justify-self: center;
  }

  .services-item {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .services-item-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .services-inner-title {
    padding-bottom: 10px;
    font-family: "dominik.regular", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .portfolio {
    display: grid;
    grid-column: span 12 / auto;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  #portfolio-title {
    justify-self: center;
    margin-bottom: 0;
  }

  .portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 45px;
  }

  .project {
    display: grid;
    justify-items: center;
    padding-bottom: 150px;
    padding-left: 15px;
    padding-right: 15px;
}

.project img {
    height: 300px;
    padding-bottom: 20px;
}

.caption {
  height: 120px;
  font-size: 19px;
}

.inner-title {
  padding-top: 75px;
  padding-bottom: 35px;
  font-family: "dominik.regular", sans-serif;
  font-size: 1.5rem;
}

.git-link-container {
  padding-bottom: 15px;
}

.git-link {
  color: rgb(163, 163, 163);
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  text-decoration: none;
  text-align: center;
  font-size: 19px;
}

.form {
  display: grid;
  justify-self: center;
}

.input {
  width: 500px;
  height: 35px;
  margin-bottom: 15px;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  color: grey;
}

.textarea {
  width: 500px;
  height: 150px;
  margin-bottom: 15px;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  color: grey;
  padding-top: 7px;
  resize: none;
}

.btn {
  margin-bottom: 15px;
  width: 220px;
  height: 38px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-size: 14px;
  background-color: #696969;
  border: none;
  justify-self: center;
}

footer a {
  font-family: "Dominik_Thin", sans-serif;
  text-decoration: none;
  color:white;
}

  ::-webkit-scrollbar {
    width: 15px;
  } 
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  footer {
    display: flex;
    background: var(--dark-bg);
    grid-column: 2 / span 10;
    font-size: 1.5rem;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: var(--spacing);
    justify-content: space-around;
  }

